<%- include("partials/header"); %>
<%- include("partials/navbar"); %>
<%- include("partials/footer"); %>

<body>    
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
    </div>             
       
</body>

